#portada h1 {
    font-style: italic; /* Pone el texto en modo itálico */
    text-decoration: underline; /* Subraya el texto */
    font-family: 'Campana Script', cursive; /* Cambia la fuente del texto */
}

h1, h2, h5 {
    color: #8D6E63;
    font-family: 'Campana Script', cursive;
}

#a1{
    display: none;
    margin-top: 4%;
}
.darkM{
    background-color: rgb(5, 4, 4);
    color: white;
    transition: 0.5s ease;
}

#moon{
    cursor: pointer;
}

body{
    background-color: #dcdcdd;
    color:#4c5c68;
    font-family: 'Garamond', serif;
    font-weight: 700;   
}

p, ul, li {
    font-family: 'Garamond', serif;
    font-weight: 900; /* Para asegurarse de que se use la versión bold */
  }
